{% load static %}
{% include 'css-js.html' %}

    <!-- Template Main CSS File -->
    <link href="{% static '/css/style.css' %}" rel="stylesheet">

    {% block titulo %}
    <title>Administrar Fotos</title>
    {% endblock %}


    {% load crispy_forms_tags %}

        {% block conteudo %}

                {% if object.pk %}
                <br><h3 class="h3 text-black-800">Editando Foto</h3><hr>
                {% else %}
                <br><h3 class="h3 text-black-800" style="margin: 0px">Postar Fotos</h3><hr>
                {% endif %}

                <form method="POST" action="" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    {{form | crispy}}
                    <div class="text-right">

                        {% if object.pk %}
                        <button type="submit" class="save btn btn-warning">Salvar Edição</button>
                        <a href="{%  url 'listFotos' %}" class="btn btn-outline-secondary">Cancelar</a>
                        {% else %}
                        <button type="submit" class="save btn btn-success">Salvar Cadastro</button>
                        {% endif %}

                    </div>
                </form>

        {% endblock %}
