{% extends 'baseAdm.html' %}
{% load static %}

{% block titulo %}
    <title>Fotos/Eventos: Excluir Registro</title>
{% endblock %}

{% load crispy_forms_tags %}
{% block conteudo %}
    <br><h3 class="h3 text-black-800">Excluindo Registro</h3>
    <hr>
    <b>Deseja excluir esta configuração?</b>
    <p>Atenção! - Lembre-se de deixar ao menos um registro cadastrado para que a página Fotos/Eventos seja exibida
        corretamente.</p>
    <hr>
    <b>Título I:</b> {{ object.tituloOne }}
    <br><b>Título II:</b> {{ object.tituloTwo }}
    <br><b>Legenda:</b> {{ object.legenda }}
    <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <div>
            <br>
            <button type="submit" class="save btn btn-danger">Confirmar Exclusão</button>
            <a href="{% url 'listPageFotos' %}" class="btn btn-outline-secondary">Cancelar</a>
        </div>
    </form>

{% endblock %}
