{% include 'css-js.html' %}

{% for item in gestaoheader_list %}

    <div class="section-title">
        <h2>GESTÃO</h2>

        <h3>{{ item.titulo_one }} <span>{{ item.titulo_two }}</span></h3>
        <p>{{ item.legenda }}</p>
    </div>

{% empty %}

    <div class="section-title">
        <h2>GESTÃO</h2>

        <h3>Nossa <span>Gestão</span></h3>
        <p>É com alegria que iniciamos o ano letivo de 2022 e o segundo ano da nossa gestão que tem como lema "Com União Podemos Mais".</p>

    </div>

{% endfor %}