{% extends 'baseAdm.html' %}
{% load static %}

{% block titulo %}
    <title>Gestão: Configuração</title>
{% endblock %}


{% block conteudo %}

    <br><h3 class="h3 text-black-800">Lista de Gestores</h3>
    <hr>
    <span>Lista da equipe de gestão do Colégio de Aplicação.</span>

    <!-- Alertas sobre o funcionamento da página -->
    <div name="alertas">
    <hr>
    {% if gestaopage_list.count == 0 %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            • Há 0 registros, a página <b>Gestão</b>. Você pode <a href="{% url 'cadPageGestao' %}">Cadastrar um Gestor</a>.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    </div>
    <!-- Fim dos alertas -->

    <table class="table table-striped" id="tabela-gestao">
        <thead><p>Registros da Página <a href={% url 'gestao' %}>Gestão</a>:</p></thead>
        <tbody>

        {% for item in gestaopage_list %}

        <tr>
            <td><strong>Nome:</strong></td>
                <td>{{item.nome}}</td>
        </tr>

        <tr>
            <td><strong>Cargo:</strong></td>
                <td>{{item.cargo}}</td>
        </tr>

        <tr>
            <td><strong>Perfil Twitter:</strong></td>
                <td>{{item.twitter}}</td>
        </tr>

        <tr>
            <td><strong>Perfil Facebook:</strong></td>
                <td>{{item.face}}</td>
        </tr>

        <tr>
            <td><strong>Perfil Instagram:</strong></td>
                <td>{{item.insta}}</td>
        </tr>

        <tr>
            <td><strong>Perfil Linkedin:</strong></td>
                <td>{{item.linkedin}}</td>
        </tr>

        <tr>
            <td><strong>Foto:</strong></td>
                <td>{{item.imagem}}</td>
        </tr>

        <tr style="text-align: center;"><td>
        <a href="{% url 'editPageGestao' item.pk %}" class="btn btn-warning mr-4"><i class="fas fa-edit"></i> Editar</a>
        <a href="{% url 'delPageGestao' item.pk %}" class="btn btn-danger"><i class="fas fa-exclamation-triangle"></i> Excluir</a>
        </td>
        </tr>

        {% endfor %}
    </tbody>
    </table>

<script>

    $(document).ready( function ()
    {
        $('#tabela-contato').DataTable(
        {
            responsive: true,
            "lengthChange": false,
            // "bSort": false,
            "aaSorting": [],
            "pageLength": 10,
            "language":
            {
                "decimal": "",
                "emptyTable": "Sem dados disponíveis",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
                "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
                "infoFiltered": "(filtrado de _MAX_ registos no total)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar: _MENU_",
                "loadingRecords": "Carregando dados...",
                "processing": "Processando...",
                "search": "Procurar:",
                "zeroRecords": "Não foram encontrados resultados",
                "paginate":
                {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Seguinte",
                    "previous": "Anterior"
                },
                "aria":
                {
                    "sortAscending": ": Ordem crescente",
                    "sortDescending": ": Ordem decrescente"
                }
            }
        })
    });

    </script>

{% endblock %}