<!-- Author: Gabriel Martins -->

{% extends 'baseAdm.html' %}
{% load static %}

{% block titulo %}
    <title>Gestão: Configuração</title>
{% endblock %}

{% block conteudo %}

    <br><h3 class="h3 text-black-800">Configuração da Página</h3>
    <hr>

    <ul><h5>Instruções:</h5>
        <li>Editar os campos do registro abaixo modificará seus respectivos textos na página Gestão do site.</li>
        <li>Título I/Título II referem-se à parte normal e destacada (azul) do título, respectivamente.</li>
    </ul>

    <!-- Alertas sobre o funcionamento da página -->
    <div name="alertas">
    <hr>
    {% if gestaoheader_list.count > 1 %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            • Há {{ gestaoheader_list.count }} registro(s), para que a página <b>Gestão</b> funcione corretamente, deve haver apenas um.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    {% if gestaoheader_list.count == 1 %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            • Há 1 registro, a página <b>Gestão</b> funcionará corretamente.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    {% if gestaoheader_list.count == 0 %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            • Há 0 registros, a página <b>Gestão</b> funcionará com informações padrão. Para ter acesso à edição, realize um <a href="{% url 'cadGestaoHeader' %}">Cadastro</a>.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    </div>
    <!-- Fim dos alertas -->

     <!-- Tabela de dados da página -->
    <table class="table table-striped table-responsive-sm" id="tabela-gestao">
        <thead><p>Registros da Página <a href={% url 'gestao' %}>Gestão</a>:</p></thead>
        <tbody>

        {% for i in gestaoheader_list %}

        <tr>
            <td><strong>Título I:</strong></td>
                <td>{{i.titulo_one}}</td>
        </tr>

        <tr>
            <td><strong>Título II:</strong></td>
                <td>{{i.titulo_two}}</td>
        </tr>

        <tr>
            <td><strong>Legenda:</strong></td>
                <td>{{i.legenda | truncatechars:50 }}</td>
        </tr>

        <tr style="text-align: center;"><td>
        <a href="{% url 'editGestaoHeader' i.pk %}" class="btn btn-warning mr-4"><i class="fas fa-edit"></i> Editar</a>
        <a href="{% url 'delGestaoHeader' i.pk %}" class="btn btn-danger"><i class="fas fa-exclamation-triangle"></i> Excluir</a>
        </td>
        </tr>


        {% endfor %}
    </tbody>
    </table>
    <!-- Fim da tabela de dados da página -->

{% endblock %}