{% load static %}
{% include 'css-js.html' %}

{% block titulo %}
    <title>Lista de Fotos</title>
{% endblock %}


{% block conteudo %}



    <table class="table table-striped" id="tabela-fotos">
        <thead>
        <tr>
            <th>Data</th>
            <th>Titulo</th>
            <th>Legenda</th>
            <th>Categoria</th>
            <th>Imagem</th>
            <th>Editar/Excluir</th>
        </tr>
        </thead>
        <tbody>

        {% for item in object_list %}

            <tr>
                <td>{{ item.data }}</td>
                <td>{{ item.titulo }}</td>
                <td>{{ item.legenda }}</td>
                <td>{{ item.categoria }}</td>
                <td>
                    <a href="{{ item.imagem.url }}" data-gallery="portfolioGallery"
                       class="portfolio-lightbox preview-link" title="{{ item.titulo }}"><i class="fa fa-image"></i> Ver
                        imagem</a>
                </td>
                <td><a href="{% url 'editFotos' item.pk %}" class="btn btn-warning"><i class="fas fa-edit"
                                                                                       style="color: white;"></i></a>
                    <a href="{% url 'delFotos' item.pk %}" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
            </tr>

        {% empty %}

            Nada foi registrado

        {% endfor %}

        </tbody>
    </table>

    <script>

    $(document).ready( function ()
    {
        $('#tabela-fotos').DataTable(
        {
            responsive: true,
            "lengthChange": false,
            // "bSort": false,
            "aaSorting": [],
            "pageLength": 50,
            "language":
            {
                "decimal": "",
                "emptyTable": "Sem dados disponíveis",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
                "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
                "infoFiltered": "(filtrado de _MAX_ registos no total)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar: _MENU_",
                "loadingRecords": "Carregando dados...",
                "processing": "Processando...",
                "search": "Procurar:",
                "zeroRecords": "Não foram encontrados resultados",
                "paginate":
                {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Seguinte",
                    "previous": "Anterior"
                },
                "aria":
                {
                    "sortAscending": ": Ordem crescente",
                    "sortDescending": ": Ordem decrescente"
                }
            }
        })
    });

    </script>

{% endblock %}