<!-- Author: Gabriel Martins -->

{% extends 'baseAdm.html' %}
{% load static %}

{% block titulo %}
    <title>Notícias: Listagem</title>
{% endblock %}

{% block conteudo %}

    <br><h3 class="h3 text-black-800">Lista de Notícias</h3>
    <hr>
    <p>Lista das notícias criadas disponíveis no site.</p>
    <hr>

    <table class="table table-striped" id="tabela-noticias">
        <thead>
        <tr>
            <th>Data</th>
            <th>Titulo</th>
            <th>Autor</th>
{#            <th>Legenda</th>#}
            <th>Imagem</th>
            <th>Texto</th>
            <th>Editar/Excluir</th>
        </tr>
        </thead>
        <tbody>

        {% for item in noticias_list reversed %}

            <tr>
                <td>{{ item.data | date:"d/m/Y" }}</td>
                <td>{{ item.titulo | truncatechars:42 }}</td>
                <td>{{ item.autor }}</td>
{#                <td>{{ item.legenda }}</td>#}
                <td>
                    <a href="{{ item.imagem.url }}" data-gallery="portfolioGallery"
                       class="portfolio-lightbox preview-link" title="{{ item.titulo }}"><i class="fa fa-image"></i> Ver
                        imagem</a>
                <td>
                    <!-- Botão -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#texto_{{ item.pk }}">
                        Ver texto
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="texto_{{ item.pk }}" tabindex="-1" aria-labelledby="texto_{{ item.pk }}"
                         aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">{{ item.titulo }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="overflow-wrap: break-word">
                                    {{ item.texto | safe }}
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'editNoticias' item.pk %}" class="btn btn-warning">Editar</a>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td><a href="{% url 'editNoticias' item.pk %}" class="btn btn-warning" title="Editar"><i class="fas fa-edit"
                                                                                          style="color: white;"></i></a>
                    <a href="{% url 'delNoticias' item.pk %}" class="btn btn-danger" title="Excluir"><i class="fa fa-trash"></i></a>
                </td>
            </tr>

        {% empty %}

            Nada foi registrado

        {% endfor %}

        </tbody>
    </table>

    <script>

        $(document).ready(function () {
            $('#tabela-noticias').DataTable(
                {
                    responsive: true,
                    "lengthChange": false,
                    // "bSort": false,
                    "aaSorting": [],
                    "pageLength": 10,
                    "language":
                        {
                            "decimal": "",
                            "emptyTable": "Sem dados disponíveis",
                            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
                            "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
                            "infoFiltered": "(filtrado de _MAX_ registos no total)",
                            "infoPostFix": "",
                            "thousands": ",",
                            "lengthMenu": "Mostrar: _MENU_",
                            "loadingRecords": "Carregando dados...",
                            "processing": "Processando...",
                            "search": "Procurar:",
                            "zeroRecords": "Não foram encontrados resultados",
                            "paginate":
                                {
                                    "first": "Primeiro",
                                    "last": "Último",
                                    "next": "Seguinte",
                                    "previous": "Anterior"
                                },
                            "aria":
                                {
                                    "sortAscending": ": Ordem crescente",
                                    "sortDescending": ": Ordem decrescente"
                                }
                        }
                })
        });

    </script>

{% endblock %}