{% extends 'baseAdm.html' %}
{% load static %}

{% block titulo %}
    <title>Inicio - Pilares: Excluir Registro</title>
{% endblock %}

{% load crispy_forms_tags %}
{% block conteudo %}
    <br><h3 class="h3 text-black-800">Excluindo Registro</h3>
    <hr>
    <b>Deseja excluir esta configuração?</b>

    <hr>
    <b>Título I:</b> {{ object.titulo_one }}
    <br><b>Título II:</b> {{ object.titulo_two }}
    <br><b>Título III:</b> {{ object.titulo_three }}

    <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <div>
            <br>
            <button type="submit" class="save btn btn-danger">Confirmar Exclusão</button>
            <a href="{% url 'listPagePilares' %}" class="btn btn-outline-secondary">Cancelar</a>
        </div>
    </form>

{% endblock %}
