{% extends 'baseAdm.html' %}
{% load static %}

{% block titulo %}
    <title>Serviços: Excluir Card</title>
{% endblock %}

{% load crispy_forms_tags %}
{% block conteudo %}
    <br><h3 class="h3 text-black-800">Excluindo Registro</h3>
    <hr>
    <b>Deseja excluir este card de serviço?</b>
    <hr>
    <b>Serviço:</b> {{ object.servico }}
    <br><b>Descrição:</b> {{ object.descricao }}
    <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <div>
            <br>
            <button type="submit" class="save btn btn-danger">Confirmar Exclusão</button>
            <a href="{% url 'listServicos' %}" class="btn btn-outline-secondary">Cancelar</a>
        </div>
    </form>

{% endblock %}
