{% extends "base.html" %}
{% load static %}

    {% block titulo %}
        <title>Contato</title>
    {% endblock %}

{% block conteudo %}

<!-- ======= Contato ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contatos</h2>
        {% for item in contatopage_list %}
          <h3><span>{{ item.titulo }}</span></h3>
          <p>{{ item.legenda }}</p>
        </div>
        {% empty %}
            Error: O administrador ainda não configurou a página Contatos.
        {% endfor %}

        <div class="row" data-aos="fade-up" data-aos-delay="10">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Nosso endereço</h3>
            {% for item in contatopage_list %}
              <p>{{ item.enderecoCap }}</p>

            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>E-mail</h3>
              <p>{{ item.emailCap }}</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Telefone</h3>
              <p>{{ item.foneCap }}</p>
            </div>
          </div>
            {% empty %}
                Error: O administrador ainda não configurou a página Contatos.
            {% endfor %}
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6 ">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15718.196648683606!2d-67.8106109!3d-9.9714163!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x589d3c359dec27ca!2zQ29sw6lnaW8gZGUgQXBsaWNhw6fDo28gZGEgVWZhYw!5e0!3m2!1spt-BR!2sbr!4v1644278509347!5m2!1spt-BR!2sbr" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
            <iframe class="embed-responsive-item" src="{% url 'cadContato' %}" allowfullscreen height="715px"
                    width="100%"></iframe>
          </div>

        </div>

      </div>
    </section>
<!-- Fim Contato -->
{% endblock %}