{% extends "base.html" %}
{% load static %}

    {% block titulo %}
        <title>Gestão</title>
    {% endblock %}

    {% block conteudo %}

    <!-- ======= Team Section ======= -->
        <section id="team" class="team section-bg">
            <div class="container aos-init aos-animate" data-aos="fade-up">

                <div class="section-title" data-aos="fade-up">
                <h2>Gestão</h2>
                <h3> Nossa GESTÃO <span>TIME</span></h3>
                <p>É com alegria que iniciamos o ano letivo de 2022 e o segundo ano da nossa gestão que tem como lema "Com União Podemos Mais".</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                            <div class="member-img">

                                <img src="{% static 'img/team-1.jpg' %}" class="img-fluid" alt>

                                <div class="social">
                                    <a href="https://www.twitter.com" target="_blank">
                                        <i class="bi bi-twitter"></i>
                                    </a>

                                    <a href="https://www.facebook.com" target="_blank">
                                        <i class="bi bi-facebook"></i>
                                    </a>

                                    <a href="https://www.instagram.com" target="_blank">
                                        <i class="bi bi-instagram"></i>
                                    </a>

                                    <a href="https://www.linkedin.com" target="_blank">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="member-info">
                                <h4>CARLOS PONTES</h4>
                                <span>Diretor</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                        <div class="member">
                            <div class="member-img">

                                <img src="{% static 'img/team-2.jpg' %}" class="img-fluid" alt>

                                <div class="social">
                                    <a href="https://www.twitter.com" target="_blank">
                                        <i class="bi bi-twitter"></i>
                                    </a>

                                    <a href="https://www.facebook.com" target="_blank">
                                        <i class="bi bi-facebook"></i>
                                    </a>

                                    <a href="https://www.instagram.com" target="_blank">
                                        <i class="bi bi-instagram"></i>
                                    </a>

                                    <a href="https://www.linkedin.com" target="_blank">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="member-info">
                                <h4>GUADALUPE DELGADILHO</h4>
                                <span>Vice-Diretora</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <div class="member">
                            <div class="member-img">

                                <img src="{% static 'img/team-3.jpg' %}" class="img-fluid" alt>

                                <div class="social">
                                    <a href="https://www.twitter.com" target="_blank">
                                        <i class="bi bi-twitter"></i>
                                    </a>

                                    <a href="https://www.facebook.com" target="_blank">
                                        <i class="bi bi-facebook"></i>
                                    </a>

                                    <a href="https://www.instagram.com" target="_blank">
                                        <i class="bi bi-instagram"></i>
                                    </a>

                                    <a href="https://www.linkedin.com" target="_blank">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="member-info">
                                <h4>FREDERICO TAVARES</h4>
                                <span>Coord. Pedagógico</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                        <div class="member">
                            <div class="member-img">

                                <img src="{% static 'img/team-4.jpg' %}" class="img-fluid" alt>

                                <div class="social">
                                    <a href="https://www.twitter.com" target="_blank">
                                        <i class="bi bi-twitter"></i>
                                    </a>

                                    <a href="https://www.facebook.com" target="_blank">
                                        <i class="bi bi-facebook"></i>
                                    </a>

                                    <a href="https://www.instagram.com" target="_blank">
                                        <i class="bi bi-instagram"></i>
                                    </a>

                                    <a href="https://www.linkedin.com" target="_blank">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="member-info">
                                <h4>TAINÁ SANTOS</h4>
                                <span>Técnica Pedagógica</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    <!-- ======= End Team Section ======= -->


    {% endblock conteudo %}