<!-- Author: Gabriel Martins -->

{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    <title>Noticia</title>
{% endblock %}

{% block conteudo %}

    <div>

        <div class="row bg-dark">
            <img class="img-noticia" src="{{ object.imagem.url }}">
            <div class="col-sm-6 mt-auto mb-auto ml-4">
                <h3 class="h3 text-white">{{ object.titulo | title }}</h3>
{#                <p class="text-white-50">{{ object.legenda }}</p>#}
                <span class="text-white-50 font-italic ml-2">{{ object.data | date:"d/m/Y" }}</span>
            </div>
        </div>



    </div>
    <hr>
    <article class="texto-noticia">
    {% autoescape off %}
        {{ object.texto }}
    {% endautoescape %}
    </article>
    <hr>
    <div class="assinatura-adm">- {{ object.autor | default:'' }}</div>

{% endblock %}
