{% extends "base.html" %}
{% load static %}


    {% block titulo %}
        <title>Serviços</title>
    {% endblock %}

    {% block conteudo %}

    <!-- Inicio Serviços -->

    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>SERVIÇOS</h2>
          <h3>Alguns dos nossos <span>Serviços</span></h3>
          <p>Relação de alguns dos nossos serviços que você(aluno), pode solicitar online.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Declarações</a></h4>
              <p>Diversos tipos de declarações você já pode entrar na sua área de aluno e solicitar, rápido e fácil.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-book"></i></div>
              <h4><a href="">Biblioteca</a></h4>
              <p>Reserva de livros, consultar seu histórico na biblioteca, verificar se há alguma pendência...</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-history"></i></div>
              <h4><a href="">Histórico</a></h4>
              <p>Solicitar seu histórico escolar diretamente pelo site.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-time-five"></i></div>
              <h4><a href="">Agendamento</a></h4>
              <p>Agendar para falar com alguém da secretaria ou gestão presencial.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-football"></i></div>
              <h4><a href="">Quadra de Esportes</a></h4>
              <p>Aqui você pode agendar horário para usar a quadra.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Palestras</a></h4>
              <p>Você que deseja palestrar para nossos alunos, por favor nos envie sua proposta para apreciação.</p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- Fim Serviços -->

    {% endblock conteudo %}