{% extends "base.html" %}
{% load static %}


    {% block titulo %}
        <title>Serviços</title>
    {% endblock %}

    {% block conteudo %}

    <!-- Inicio Serviços -->

    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <iframe src="{% url 'servicosHeader' %}" width="100%" height="200px"></iframe>

        <div class="row">

        {% for item in servicos_list %}

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">{{ item.icone | safe }}</div>
              <h4><a href="{{ item.link }}">{{ item.servico }}</a></h4>
              <p>{{ item.descricao }}</p>
            </div>
          </div>

        {% endfor %}

        </div>

      </div>
    </section>
    <!-- Fim Serviços -->

    {% endblock conteudo %}